@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Questrial', sans-serif;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.4;
}

.wrapper {
    max-width: 80rem;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/IMG_4220.JPG');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    p {
        width:70%;
        font-size: 2.6rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 4rem 0 0 0;
}

form {
    width: 75%;

}

fieldset {
    width: 100%;
    border: none;
    p {
        font-weight: bold;
    }
}

input[type=submit] {
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    background: none;
    padding: 1rem 2rem;
    margin: 1rem 0 0 1.3rem;
    &:hover {
        background: #292929;
        color: white;
    }
}

.results {
    width: 100%;
    height: 90vh;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .reload {
        color: black;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        text-decoration: none;
        &:hover {
            background: #292929;
            color: white;
        }
    }
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}